.background-dimotek{
    --tw-bg-opacity: 1;
    background-color: rgb(24, 66, 143);
}

.background-dimotek-h{
    --tw-bg-opacity: 1;
    background-color: #224A93;
}

.background-dimotek-buttons:hover{
    --tw-bg-opacity: 1;
    background-color: #224A93;
}